Actual_TB_and_TC_Code/flows (10).json
[
    {
        "id": "45b746ad89cdbb6e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4fa3933855e2a00",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "Temperature",
        "topic": "TypeA/arduino4/sensors/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "9b5f6292c5789539"
            ]
        ]
    },
    {
        "id": "e4319bc9617ed2f5",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c8ed6e1baaac5f7",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 400,
        "wires": []
    },
    {
        "id": "a0136c6e84c3620f",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 500,
        "wires": []
    },
    {
        "id": "fa86cf109017d2ad",
        "type": "switch",
        "z": "45b746ad89cdbb6e",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "776",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "556",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "226",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "116",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "166",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 910,
        "y": 420,
        "wires": [
            [
                "b2d11925fa9cd648",
                "3f5dddd1517ee005"
            ],
            [
                "beab9d6d28c3ceea",
                "0ab5dfe595a93d18"
            ],
            [
                "ffb01ab7c6e8c1c2",
                "e6682bbca44b4701"
            ],
            [
                "1af060c683fae4bc",
                "4bdab791a327f9e6"
            ],
            [
                "8aa78e122fcbd2cc",
                "75331ff14c41d8bd"
            ]
        ]
    },
    {
        "id": "74d92f1ffe1876ac",
        "type": "switch",
        "z": "45b746ad89cdbb6e",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "372",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "145",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "171",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "158",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 850,
        "y": 1020,
        "wires": [
            [
                "245fd5939911a4af"
            ],
            [
                "202a631f1701a3f0"
            ],
            [
                "1df1fef2e166f93e"
            ],
            [
                "a4f159ad30631b6f",
                "077acaab1efb56ed"
            ]
        ]
    },
    {
        "id": "b2d11925fa9cd648",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 2",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "ed2b117d8f94dc3c",
                "e4319bc9617ed2f5"
            ]
        ]
    },
    {
        "id": "beab9d6d28c3ceea",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 3",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "b0495ca765a9af3b",
                "9c8ed6e1baaac5f7"
            ]
        ]
    },
    {
        "id": "ffb01ab7c6e8c1c2",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 4",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "aaa8af68b2c8a3a9",
                "a0136c6e84c3620f"
            ]
        ]
    },
    {
        "id": "1af060c683fae4bc",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 5",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "e3d71c61c26f16b0",
                "e16a080e5e55d6f5"
            ]
        ]
    },
    {
        "id": "245fd5939911a4af",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 6",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 880,
        "wires": [
            [
                "482db8e95c3cb455",
                "a7b85d49d064ca99"
            ]
        ]
    },
    {
        "id": "8aa78e122fcbd2cc",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 7",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "4463608538eeccc3",
                "7bd197a66d482b58"
            ]
        ]
    },
    {
        "id": "202a631f1701a3f0",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 8",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 960,
        "wires": [
            [
                "5d6bf80c827d630d",
                "30c244611699dca3"
            ]
        ]
    },
    {
        "id": "1df1fef2e166f93e",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 9",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1040,
        "wires": [
            [
                "98d2b01ce4204e30",
                "36f9550ab896d129"
            ]
        ]
    },
    {
        "id": "a4f159ad30631b6f",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 10",
        "func": "if (msg.payload.length == 3){\n    msg.payload = parseInt(\"0x\" + msg.payload[2]);\n}\nelse{\n    //print out only the value(the first index of the array)\n    msg.payload = parseInt(\"0x\" + msg.payload[3].substring(0,2));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1120,
        "wires": [
            [
                "cda01e91a1686ed9",
                "932aa2ce6229b464"
            ]
        ]
    },
    {
        "id": "e16a080e5e55d6f5",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "7bd197a66d482b58",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 700,
        "wires": []
    },
    {
        "id": "a7b85d49d064ca99",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 880,
        "wires": []
    },
    {
        "id": "30c244611699dca3",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "36f9550ab896d129",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1080,
        "wires": []
    },
    {
        "id": "932aa2ce6229b464",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b0495ca765a9af3b",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Temperature Sensor 1 Chart",
        "group": "4a0be347c89f488d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature Sensor 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2b117d8f94dc3c",
        "type": "ui_gauge",
        "z": "45b746ad89cdbb6e",
        "name": "Humidity Sensor 1 Gauge",
        "group": "92040e08bb1942d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Sensor 1 Gauge ",
        "label": "% Humidity ",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1410,
        "y": 260,
        "wires": []
    },
    {
        "id": "aaa8af68b2c8a3a9",
        "type": "ui_gauge",
        "z": "45b746ad89cdbb6e",
        "name": "Soil Moisture 1 Gauge",
        "group": "eb2ae2ba078e5fb3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Moisture 1 Gauge",
        "label": "% Soil Moisture ",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1400,
        "y": 460,
        "wires": []
    },
    {
        "id": "e3d71c61c26f16b0",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Ultrasonic Sensor 1 Chart",
        "group": "8d42422a5ec7d440",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Ultrasonic Sensor 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4463608538eeccc3",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Rainwater Sensor 1 Chart",
        "group": "d64d6b3a97dd3445",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Rainwater Sensor 1 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6bf80c827d630d",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Temperature Sensor 2 Chart",
        "group": "9bb3331827313855",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature Sensor 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "482db8e95c3cb455",
        "type": "ui_gauge",
        "z": "45b746ad89cdbb6e",
        "name": "Humidity Sensor 2 Gauge",
        "group": "5e201adf21097a3f",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Sensor 2 Gauge",
        "label": "% Humidity",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1410,
        "y": 840,
        "wires": []
    },
    {
        "id": "cda01e91a1686ed9",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Rainwater Sensor 2 Chart",
        "group": "c244094bde3862cf",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Rainwater Sensor 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "98d2b01ce4204e30",
        "type": "ui_chart",
        "z": "45b746ad89cdbb6e",
        "name": "Ultrasonic Sensor 2 Chart",
        "group": "d8ee70bf187f9a92",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Ultrasonic Sensor 2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "9ab443771e281abe",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "Soil Moisture",
        "topic": "TypeA/arduino4/sensors/soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "0361e46c2464caf3"
            ]
        ]
    },
    {
        "id": "adbf934477d7675c",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "Ultrasonic",
        "topic": "TypeA/arduino4/sensors/ultrasonic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "231ed7991bdbb3be"
            ]
        ]
    },
    {
        "id": "c8702af260f5ae74",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "Rainwater",
        "topic": "TypeA/arduino4/sensors/rainwater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "4d729c4c69cc7afd"
            ]
        ]
    },
    {
        "id": "d4860fc17d3c7d8f",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "Humidity",
        "topic": "TypeA/arduino4/sensors/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "9d19edd2c9d849d2"
            ]
        ]
    },
    {
        "id": "5f2b56fbc480096d",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "TCTemperature",
        "topic": "TypeC/sensors/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 920,
        "wires": [
            [
                "a5b8177125078dc7"
            ]
        ]
    },
    {
        "id": "0d709b3f7db52e4a",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "TCHumidity",
        "topic": "TypeC/sensors/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1000,
        "wires": [
            [
                "a5b8177125078dc7"
            ]
        ]
    },
    {
        "id": "e295e192182f6c05",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "TCUltrasonic",
        "topic": "TypeC/sensors/ultrasonic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1060,
        "wires": [
            [
                "a5b8177125078dc7"
            ]
        ]
    },
    {
        "id": "e248ee2bb75135df",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "TCRainwater",
        "topic": "TypeC/sensors/rainwater",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1120,
        "wires": [
            [
                "a5b8177125078dc7"
            ]
        ]
    },
    {
        "id": "75331ff14c41d8bd",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "077acaab1efb56ed",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3f5dddd1517ee005",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ab5dfe595a93d18",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "e6682bbca44b4701",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "4bdab791a327f9e6",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 680,
        "wires": []
    },
    {
        "id": "a5b8177125078dc7",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 11",
        "func": "\nvar outputMsgs = [];\nvar holder = msg.payload.split(\":\");\nvar arraysep = holder[3].substring(1);\nvar id = holder[2].substring(0,3);\nvar publisher = holder[3].substring(0,1);\n//var dataArray = holder[5]\noutputMsgs.push(id);\noutputMsgs.push(publisher);\noutputMsgs.push(arraysep);\noutputMsgs.push(arraysep.substring(0,2));\nmsg.payload = outputMsgs;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "74d92f1ffe1876ac",
                "d2fb9f3521e45a20"
            ]
        ]
    },
    {
        "id": "d2fb9f3521e45a20",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9d19edd2c9d849d2",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 12",
        "func": "\nif(msg.payload.toString().includes(\" \")){\n    var outputMsgs = [];\n    var holder = msg.payload.split(\" \");\n    var arraysep = holder[3].split(\" \");\n    var id = holder[0].replace(/[\\[\\]]/g, \"\");\n    var publisher = holder[1];\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(arraysep);\n    outputMsgs.push(arraysep[0]);\n    msg.payload = outputMsgs;\n}\nelse{\n    var outputMsgs = [];\n    var holder = msg.payload;\n    var arraysep = holder[0];\n    let id = \"776\";\n    let publisher = \"8\";\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(holder);\n    outputMsgs.push(holder.substring(0,2));\n    msg.payload = outputMsgs;\n}\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "fa86cf109017d2ad",
                "4873439c3667a2ef"
            ]
        ]
    },
    {
        "id": "4873439c3667a2ef",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b5f6292c5789539",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 13",
        "func": "\nif(msg.payload.toString().includes(\" \")){\n    var outputMsgs = [];\n    var holder = msg.payload.split(\" \");\n    var arraysep = holder[3].split(\" \");\n    var id = holder[0].replace(/[\\[\\]]/g, \"\");\n    var publisher = holder[1];\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(arraysep);\n    outputMsgs.push(arraysep[0]);\n    msg.payload = outputMsgs;\n}\nelse{\n    var outputMsgs = [];\n    var holder = msg.payload;\n    var arraysep = holder[0];\n    let id = \"556\";\n    let publisher = \"8\";\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(holder);\n    outputMsgs.push(String(holder).substring(0,2));\n    msg.payload = outputMsgs;\n}\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "fa86cf109017d2ad",
                "b6576906b17b1e6d"
            ]
        ]
    },
    {
        "id": "0361e46c2464caf3",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 14",
        "func": "\nif (msg.payload.toString().includes(\" \")) {\n    var outputMsgs = [];\n    var holder = msg.payload.split(\" \");\n    var arraysep = holder[3].split(\" \");\n    var id = holder[0].replace(/[\\[\\]]/g, \"\");\n    var publisher = holder[1];\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(arraysep);\n    outputMsgs.push(arraysep[0]);\n    msg.payload = outputMsgs;\n}\nelse {\n    var outputMsgs = [];\n    var holder = msg.payload;\n    var arraysep = holder[0];\n    let id = \"226\";\n    let publisher = \"8\";\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(holder);\n    outputMsgs.push(String(holder).substring(0, 2));\n    msg.payload = outputMsgs;\n}\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "fa86cf109017d2ad",
                "04cf82cf68920473"
            ]
        ]
    },
    {
        "id": "231ed7991bdbb3be",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 15",
        "func": "\nif (msg.payload.toString().includes(\" \")) {\n    var outputMsgs = [];\n    var holder = msg.payload.split(\" \");\n    var arraysep = holder[3].split(\" \");\n    var id = holder[0].replace(/[\\[\\]]/g, \"\");\n    var publisher = holder[1];\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(arraysep);\n    outputMsgs.push(arraysep[0]);\n    msg.payload = outputMsgs;\n}\nelse {\n    var outputMsgs = [];\n    var holder = msg.payload;\n    var arraysep = holder[0];\n    let id = \"116\";\n    let publisher = \"8\";\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(holder);\n    outputMsgs.push(holder.substring(0, 2));\n    msg.payload = outputMsgs;\n}\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "fa86cf109017d2ad",
                "42e20c732f06acec"
            ]
        ]
    },
    {
        "id": "4d729c4c69cc7afd",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 16",
        "func": "\nif(msg.payload.toString().includes(\" \")){\n    var outputMsgs = [];\n    var holder = msg.payload.split(\" \");\n    var arraysep = holder[3].split(\" \");\n    var id = holder[0].replace(/[\\[\\]]/g, \"\");\n    var publisher = holder[1];\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(arraysep);\n    outputMsgs.push(arraysep[0]);\n    msg.payload = outputMsgs;\n}\nelse{\n    var outputMsgs = [];\n    var holder = msg.payload;\n    var arraysep = holder[0];\n    let id = \"166\";\n    let publisher = \"8\";\n    //var dataArray = holder[5]\n    outputMsgs.push(id);\n    outputMsgs.push(publisher);\n    outputMsgs.push(holder);\n    outputMsgs.push(String(holder).substring(0,2));\n    msg.payload = outputMsgs;\n}\nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 600,
        "wires": [
            [
                "fa86cf109017d2ad",
                "38f9933af06634e4"
            ]
        ]
    },
    {
        "id": "b6576906b17b1e6d",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "04cf82cf68920473",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "42e20c732f06acec",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "38f9933af06634e4",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "fdab8080ef11bad0",
        "type": "mqtt in",
        "z": "45b746ad89cdbb6e",
        "name": "",
        "topic": "TypeB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4df2b8f1dbd50f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 800,
        "wires": [
            [
                "2ceabba08cf14bb4"
            ]
        ]
    },
    {
        "id": "2ceabba08cf14bb4",
        "type": "function",
        "z": "45b746ad89cdbb6e",
        "name": "function 17",
        "func": "var outputMsgs = [];\nvar holder = msg.payload;\nlet id = holder.substring(4,7);\n//let publisher = \"8\";\n\noutputMsgs.push(id);\nif (id == \"145\"){\n    //var dataArray = dataArray[1].substring(3,5).split(\" \");\n    var value = holder.substring(33,35);\n    //var topic = holder[3];\n    outputMsgs.push(id);\n    //outputMsgs.push(dataArray);\n    outputMsgs.push(value);\n    //outputMsgs.push(topic);\n    //outputMsgs.push(publisher);\n    msg.payload = outputMsgs;\n    return msg;\n}\nelse if (id == \"158\"){\n    // var dataArray = dataArray[1].substring(38,5).split(\" \");\n    var value = holder.substring(38,40);\n    // var topic = holder[3];\n    outputMsgs.push(id);\n    //outputMsgs.push(dataArray);\n    outputMsgs.push(value);\n    //outputMsgs.push(topic);\n    //outputMsgs.push(publisher);\n    msg.payload = outputMsgs;\n    return msg;\n}\nelse if (id == \"171\"){\n    \n    var value = holder.substring(39,41);\n    //var topic = holder[3];\n    outputMsgs.push(id);\n    //outputMsgs.push(dataArray);\n    outputMsgs.push(value);\n    //outputMsgs.push(topic);\n    //outputMsgs.push(publisher);\n    msg.payload = outputMsgs;\n    return msg;\n\n}\nelse if (id == \"372\"){\n    //var dataArray = dataArray[1].substring(3,5).split(\" \");\n    var value = holder.substring(37,39);\n    //var topic = holder[3];\n    outputMsgs.push(id);\n    //outputMsgs.push(dataArray);\n    outputMsgs.push(value);\n    //outputMsgs.push(topic);\n    //outputMsgs.push(publisher);\n    msg.payload = outputMsgs;\n    return msg;\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 800,
        "wires": [
            [
                "fa86cf109017d2ad",
                "74d92f1ffe1876ac",
                "d3d007b75b63d6cb"
            ]
        ]
    },
    {
        "id": "d3d007b75b63d6cb",
        "type": "debug",
        "z": "45b746ad89cdbb6e",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "b4df2b8f1dbd50f4",
        "type": "mqtt-broker",
        "name": "server1",
        "broker": "172.20.10.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a0be347c89f488d",
        "type": "ui_group",
        "name": "TA Temperature",
        "tab": "7762880bd6b29f1c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92040e08bb1942d1",
        "type": "ui_group",
        "name": "TA Humidity",
        "tab": "7762880bd6b29f1c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb2ae2ba078e5fb3",
        "type": "ui_group",
        "name": "TA Soil Moisture",
        "tab": "7762880bd6b29f1c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d42422a5ec7d440",
        "type": "ui_group",
        "name": "TA Ultrasonic ",
        "tab": "7762880bd6b29f1c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d64d6b3a97dd3445",
        "type": "ui_group",
        "name": "TA Rain",
        "tab": "7762880bd6b29f1c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bb3331827313855",
        "type": "ui_group",
        "name": "TC Temperature",
        "tab": "7762880bd6b29f1c",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e201adf21097a3f",
        "type": "ui_group",
        "name": "TC Humidity",
        "tab": "7762880bd6b29f1c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c244094bde3862cf",
        "type": "ui_group",
        "name": "TC Rain",
        "tab": "7762880bd6b29f1c",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8ee70bf187f9a92",
        "type": "ui_group",
        "name": "TC Ultrasonic",
        "tab": "7762880bd6b29f1c",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7762880bd6b29f1c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]